
<!DOCTYPE html>
<html lang="en">

    <%- include("head.ejs") %>
    
    <div class="vistaError">
        <h1 class="error404">404</h1>
        <h2>Ruta <span class="errorDatos"><%= data.route %></span> Método <span class="errorDatos"><%= data.method %></span> No implementados</h2> 
    </div>
        
</html>